.single-project
    div(ng-if="vm.loading")
        p loading...

    div.highlighted-project(tg-repeat="project in vm.highlighted track by project.get('id')")
        // Add project URL
        a(
            href="#"
            tg-nav="project:project=project.get('slug')"
            title="{{::project.get('name')}}"
        )
            // Add project image
            img.project-logo(
                src="/#{v}/images/logo-color.png"
                alt="{{::project.get('name')}}"
            )
        .project-data-container
            .single-project-header
                h2.project-title
                    // Add project URL
                    a(
                        href="#"
                        tg-nav="project:project=project.get('slug')"
                        title="{{::project.get('name')}}"
                    ) {{::project.get('name')}}
                    // ng-if="{{{::project.get('is_recruting')}}}"
                    span.look-for-people
                        include ../../../../svg/recruit.svg
                .project-statistics
                    span.statistic(ng-class="{'active': project.get('is_fan')}")
                        include ../../../../svg/like.svg
                        span {{::project.get('total_fans')}}
                    span.statistic(ng-class="{'active': project.get('is_watcher')}")
                        include ../../../../svg/eye.svg
                        span {{::project.get('total_watchers')}}
                    span.statistic
                        include ../../../../svg/team.svg
                        span.statistics-num {{ ::project.get('members').size }}
            p.project-description {{::project.get('description')}}

    a.view-more-projects.button-green(
        href="#"
    ) {{ 'DISCOVER.VIEW_MORE' | translate }}
