div.discover-header
    div.discover-header-inner

        h1.title {{ DISCOVER.DISCOVER_TITLE | translate }}
        p.project-number {{ DISCOVER.DISCOVER_SUBTITLE | translate }}  

        form
            div.searchbox
                input(
                    name="search",
                    type="text",
                    placeholder="Search"
                    ng-model="vm.q"
                )
                a.search-button(
                    href=""
                    title="{{ COMMON.SEARCH | translate }}"
                )
                    include ../../../../svg/search.svg
            

            ul(ng-if="vm.filter", style="display: flex")
                li(
                    ng-class="{active: vm.filter == 'all'}",
                    ng-click="vm.selectFilter('all')"
                ) {{ DISCOVER.FILTERS.ALL | translate }}

                li(
                    ng-class="{active: vm.filter == 'kanban'}",
                    ng-click="vm.selectFilter('kanban')"
                ) {{ DISCOVER.FILTERS.KANBAN | translate }}

                li(
                    ng-class="{active: vm.filter == 'scrum'}",
                    ng-click="vm.selectFilter('scrum')"
                ) {{ DISCOVER.FILTERS.SCRUM | translate }}

                li(
                    ng-class="{active: vm.filter == 'people'}",
                    ng-click="vm.selectFilter('people')"
                ) {{ DISCOVER.FILTERS.PEOPLE | translate }}
