.filter-discover-search(ng-mouseleave="vm.toggleClose()")
    a(
        href="#"
        ng-click="vm.toggleOpenLike()"
    ) 
        include ../../../../svg/like.svg
        span {{ 'DISCOVER.MOST_LIKED' | translate }}
    a(
        href="#"
        ng-click="vm.toggleOpenActivity()"
    ) 
        include ../../../../svg/activity.svg
        span {{ 'DISCOVER.MOST_ACTIVE' | translate }}
    .discover-search-subfilter(ng-if="vm.like_is_open")
        .results(ng-if="vm.likeOrder")
            span {{ 'DISCOVER.SEARCH.RESULTS' | translate }}
            a(
                title=""
                href="#",
                ng-click="vm.likeOrderBy(null)"
            ) {{ 'DISCOVER.FILTERS.CLEAR' | translate }}
        ul.filter-list
            li
                a(
                    ng-class="{active: vm.likeOrder == 'week'}",
                    href="#",
                    ng-click="vm.likeOrderBy('week')"
                ) {{ 'DISCOVER.FILTERS.WEEK' | translate }}
            li
                a(
                    ng-class="{active: vm.likeOrder == 'month'}",
                    href="#",
                    ng-click="vm.likeOrderBy('month')"
                ) {{ 'DISCOVER.FILTERS.MONTH' | translate }}
            li
                a(
                    ng-class="{active: vm.likeOrder == 'year'}",
                    href="#",
                    ng-click="vm.likeOrderBy('year')"
                ) {{ 'DISCOVER.FILTERS.YEAR' | translate }}
            li
                a(
                    ng-class="{active: vm.likeOrder == 'all'}",
                    href="#",
                    ng-click="vm.likeOrderBy('all')"
                ) {{ 'DISCOVER.FILTERS.ALL_TIME' | translate }}
                
    
    .discover-search-subfilter(ng-if="vm.activity_is_open")
        .results(ng-if="vm.activityOrder")
            span
                span {{ 'DISCOVER.SEARCH.RESULTS' | translate }}
                a(
                    title=""
                    href="#",
                    ng-click="vm.likeOrderBy(null)"
                ) {{ 'DISCOVER.FILTERS.CLEAR' | translate }}
        ul.filter-list
            li
                a(
                    ng-class="{active: vm.activityOrder == 'week'}",
                    href="#",
                    ng-click="vm.activityOrderBy('week')"
                ) {{ 'DISCOVER.FILTERS.WEEK' | translate }}
            li
                a(
                    ng-class="{active: vm.activityOrder == 'month'}",
                    href="#",
                    ng-click="vm.activityOrderBy('month')"
                ) {{ 'DISCOVER.FILTERS.MONTH' | translate }}
            li
                a(
                    ng-class="{active: vm.activityOrder == 'year'}",
                    href="#",
                    ng-click="vm.activityOrderBy('year')"
                ) {{ 'DISCOVER.FILTERS.YEAR' | translate }}
            li
                a(
                    ng-class="{active: vm.activityOrder == 'all'}",
                    href="#",
                    ng-click="vm.activityOrderBy('all')"
                ) {{ 'DISCOVER.FILTERS.ALL_TIME' | translate }}
