.featured-projects
    h1.title Featured projects

    .featured-projects-inner
        .featured-project(tg-repeat="project in vm.featured track by project.get('id')")
            .tags-container
                .featured-tag(
                    style="background: #cc0000"
                    title="tag-name"
                )
                .featured-tag(
                    style="background: #00cc00"
                    title="tag-name"
                )
                .featured-tag(
                    style="background: #0000cc"
                    title="tag-name"
                )
            .featured-project-inner        
                .featured-project-header
                    a.project-logo(
                        href="#"
                        title="{{::project.get('name')}}"    
                    )    
                        img(
                            src="/#{v}/images/logo-color.png"
                            alt="{{::project.get('name')}}"
                        )
                    h2.project-name 
                        a(
                            href="#"
                            title="{{::project.get('name')}}"
                        ) {{::project.get('name')}}
                        // ng-if="{{{::project.get('is_recruting')}}}"
                        span.look-for-people 
                            include ../../../../svg/recruit.svg
                p.featured-project-description {{::project.get('description')}}
                .project-statistics
                    span.statistic(ng-class="{'active': project.get('is_fan')}")
                        include ../../../../svg/like.svg
                        span {{::project.get('total_fans')}}
                    span.statistic(ng-class="{'active': project.get('is_watcher')}")
                        include ../../../../svg/eye.svg
                        span {{::project.get('total_watchers')}}
                    span.statistic
                        include ../../../../svg/team.svg
                        span.statistics-num {{ ::project.get('members').size }}
