.featured-projects
    h1.title Featured projects

    .featured-projects-inner
        .featured-project(tg-repeat="project in vm.featured track by project.get('id')")
            .tags-container
                .project-tag(
                    style="background: {{tag.get('color')}}"
                    title="{{tag.get('name')}}"
                    tg-repeat="tag in project.get('colorized_tags') track by tag.get('name')"
                )
            .project-card-inner
                .project-card-header
                    a.project-card-logo(
                        href="#"
                        tg-nav="project:project=project.get('slug')"
                        title="{{::project.get('name')}}"
                    )
                        img(
                            ng-if="project.get('logo_small_url')"
                            ng-src="project.get('logo_small_url')"
                            alt="{{::project.get('name')}}"
                        )
                        img(
                            ng-if="!project.get('logo_small_url')"
                            src="/#{v}/images/logo-color.png"
                            alt="{{::project.get('name')}}"
                        )
                    h2.project-card-name
                        a(
                            href="#"
                            tg-nav="project:project=project.get('slug')"
                            title="{{::project.get('name')}}"
                        ) {{::project.get('name')}}
                        span.look-for-people(ng-if="project.get('is_looking_for_people')")
                            include ../../../../svg/recruit.svg
                p.project-card-description {{::project.get('description')}}
                .project-card-statistics
                    span.statistic(ng-class="{'active': project.get('is_fan')}")
                        include ../../../../svg/like.svg
                        span {{::project.get('total_fans')}}
                    span.statistic(ng-class="{'active': project.get('is_watcher')}")
                        include ../../../../svg/eye.svg
                        span {{::project.get('total_watchers')}}
                    span.statistic
                        include ../../../../svg/team.svg
                        span.statistics-num {{ ::project.get('members').size }}
