a.button-tribe(
    href="",
    title="{{ 'US.TRIBE.PUBLISH' | translate }}"
    target="_blank"
) 
    img(
        src="/#{v}/images/tribe-logo.png"
        alt-"{{ 'US.TRIBE.PUBLISH' | translate }}"
    )
    span {{ 'US.TRIBE.PUBLISH' | translate }}
